<!-- app/views/tasks/index.html.erb -->
<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
          <!-- Add Font Awesome checkbox icons -->
      <% if task.completed %>
        <i class="fas fa-check-square"></i> <!-- Checked checkbox -->
      <% else %>
        <i class="far fa-square"></i> <!-- Unchecked checkbox -->
      <% end %>

      <%= link_to task.title, task_path(task) %>
      <%= button_to "Delete", task, method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "New Task", new_task_path %>
