<!-- app/views/tasks/index.html.erb -->
<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li class="task-item">
      <!-- Checkbox -->
      <% if task.completed %>
        <i class="fas fa-check-square"></i> <!-- Checked checkbox -->
      <% else %>
        <i class="far fa-square"></i> <!-- Unchecked checkbox -->
      <% end %>

      <!-- Task Content Container -->
      <div class="task-content">
        <!-- Task Title -->
        <%= link_to task.title, task_path(task) %>

        <!-- Delete Button -->
        <div class="delete-button-container">
          <%= button_to "Delete", task, method: :delete, class: "delete-button", id: "delete-task-btn"  %>

        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to "New Task", new_task_path %>
